$primary-color:#06002D;
$secondary-color:#F9445D;
$third-color-verdeAzul:#00859C;
$third-color-colorado:#EC2836;
$third-color-green:#008571;
$third-color-yellow:#FFE622;
$complementary-color-gris-claro:#EFEFEF;
$complementary-color-gris-medio:#5D5C5C;
$complementary-color-gris-oscuro:#3E3E3E;
$light-color:#FFFF;



